<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<dict>
			<key>hash</key>
			<string>#0048ba</string>
			<key>name</key>
			<string>Absolute Zero</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#84de02</string>
			<key>name</key>
			<string>Alien Armpit</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c46210</string>
			<key>name</key>
			<string>Alloy Orange</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#efdecd</string>
			<key>name</key>
			<string>Almond</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#64609A</string>
			<key>name</key>
			<string>Amethyst</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#cd9575</string>
			<key>name</key>
			<string>Antique Brass</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fdd9b5</string>
			<key>name</key>
			<string>Apricot</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#5fbed7</string>
			<key>name</key>
			<string>Aqua Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#78dbe2</string>
			<key>name</key>
			<string>Aquamarine</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#87a96b</string>
			<key>name</key>
			<string>Asparagus</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffa474</string>
			<key>name</key>
			<string>Atomic Tangerine</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c39953</string>
			<key>name</key>
			<string>Aztec Gold</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fefefa</string>
			<key>name</key>
			<string>Baby Powder</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffd12a</string>
			<key>name</key>
			<string>Banana</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fae7b5</string>
			<key>name</key>
			<string>Banana Mania</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#2e5894</string>
			<key>name</key>
			<string>Bdazzled Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9f8170</string>
			<key>name</key>
			<string>Beaver</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9c2542</string>
			<key>name</key>
			<string>Big Dip O Ruby</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#e88e5a</string>
			<key>name</key>
			<string>Big Foot Feet</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fd7c6e</string>
			<key>name</key>
			<string>Bittersweet</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#bf4f51</string>
			<key>name</key>
			<string>Bittersweet Shimmer</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#000</string>
			<key>name</key>
			<string>Black</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#54626f</string>
			<key>name</key>
			<string>Black Coral Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#bfafb2</string>
			<key>name</key>
			<string>Black Shadows</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a57164</string>
			<key>name</key>
			<string>Blast Off Bronze</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ace5ee</string>
			<key>name</key>
			<string>Blizzard Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1f75fe</string>
			<key>name</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a2a2d0</string>
			<key>name</key>
			<string>Blue Bell</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#69c</string>
			<key>name</key>
			<string>Blue Gray</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#0d98ba</string>
			<key>name</key>
			<string>Blue Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#5dadec</string>
			<key>name</key>
			<string>Blue Jeans</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#7366bd</string>
			<key>name</key>
			<string>Blue Violet</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#4f86f7</string>
			<key>name</key>
			<string>Blueberry</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#de5d83</string>
			<key>name</key>
			<string>Blush</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#dde26a</string>
			<key>name</key>
			<string>Booger Buster</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#cb4154</string>
			<key>name</key>
			<string>Brick Red</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffaa1d</string>
			<key>name</key>
			<string>Bright Yellow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#b4674d</string>
			<key>name</key>
			<string>Brown</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#af6e4d</string>
			<key>name</key>
			<string>Brown Sugar</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffd3f8</string>
			<key>name</key>
			<string>Bubble Gum</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a17a74</string>
			<key>name</key>
			<string>Burnished Brown</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff7f49</string>
			<key>name</key>
			<string>Burnt Orange</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ea7e5d</string>
			<key>name</key>
			<string>Burnt Sienna</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#b0b7c6</string>
			<key>name</key>
			<string>Cadet Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff9</string>
			<key>name</key>
			<string>Canary</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1cd3a2</string>
			<key>name</key>
			<string>Caribbean Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#6ada8e</string>
			<key>name</key>
			<string>Caribbean Green Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fac</string>
			<key>name</key>
			<string>Carnation Pink</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c95a49</string>
			<key>name</key>
			<string>Cedar Chest</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#dd4492</string>
			<key>name</key>
			<string>Cerise</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1dacd6</string>
			<key>name</key>
			<string>Cerulean</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#6d9bc3</string>
			<key>name</key>
			<string>Cerulean Frost</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#da2647</string>
			<key>name</key>
			<string>Cherry</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#bc5d58</string>
			<key>name</key>
			<string>Chestnut</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#bd8260</string>
			<key>name</key>
			<string>Chocolate</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#cd607e</string>
			<key>name</key>
			<string>Cinnamon Satin</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#933709</string>
			<key>name</key>
			<string>Citrine</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fefefe</string>
			<key>name</key>
			<string>Coconut</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#dd9475</string>
			<key>name</key>
			<string>Copper</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ad6f69</string>
			<key>name</key>
			<string>Copper Penny</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9aceeb</string>
			<key>name</key>
			<string>Cornflower</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#2e2d88</string>
			<key>name</key>
			<string>Cosmic Cobalt</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffbcd9</string>
			<key>name</key>
			<string>Cotton Candy</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f5f5f5</string>
			<key>name</key>
			<string>Cultured Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#58427c</string>
			<key>name</key>
			<string>Cyber Grape</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffff31</string>
			<key>name</key>
			<string>Daffodil</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fddb6d</string>
			<key>name</key>
			<string>Dandelion</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#4a646c</string>
			<key>name</key>
			<string>Deep Space Sparkle</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#2b6cc4</string>
			<key>name</key>
			<string>Denim</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#2243b6</string>
			<key>name</key>
			<string>Denim Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#efcdb8</string>
			<key>name</key>
			<string>Desert Sand</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c53151</string>
			<key>name</key>
			<string>Dingy Dungeon</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9b7653</string>
			<key>name</key>
			<string>Dirt</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1b1b1b</string>
			<key>name</key>
			<string>Eerie Black</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#6e5160</string>
			<key>name</key>
			<string>Eggplant</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ceff1d</string>
			<key>name</key>
			<string>Electric Lime</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#14A989</string>
			<key>name</key>
			<string>Emerald</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#44d7a8</string>
			<key>name</key>
			<string>Eucalyptus</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#71bc78</string>
			<key>name</key>
			<string>Fern</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff5470</string>
			<key>name</key>
			<string>Fiery Rose</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#6dae81</string>
			<key>name</key>
			<string>Forest Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a6e7ff</string>
			<key>name</key>
			<string>Fresh Air</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#e936a7</string>
			<key>name</key>
			<string>Frostbite</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c364c5</string>
			<key>name</key>
			<string>Fuchsia</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c66</string>
			<key>name</key>
			<string>Fuzzy Wuzzy</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffdf46</string>
			<key>name</key>
			<string>Gargoyle Gas</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#b05c52</string>
			<key>name</key>
			<string>Giants Club</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ab92b3</string>
			<key>name</key>
			<string>Glossy Grape</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#e7c697</string>
			<key>name</key>
			<string>Gold</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#85754e</string>
			<key>name</key>
			<string>Gold Fusion</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fcd975</string>
			<key>name</key>
			<string>Goldenrod</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#676767</string>
			<key>name</key>
			<string>Granite Gray</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a8e4a0</string>
			<key>name</key>
			<string>Granny Smith Apple</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#6f2da8</string>
			<key>name</key>
			<string>Grape</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#95918c</string>
			<key>name</key>
			<string>Gray</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1cac78</string>
			<key>name</key>
			<string>Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1164b4</string>
			<key>name</key>
			<string>Green Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a7f432</string>
			<key>name</key>
			<string>Green Lizard</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#6eaea1</string>
			<key>name</key>
			<string>Green Sheen</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f0e891</string>
			<key>name</key>
			<string>Green Yellow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff7a00</string>
			<key>name</key>
			<string>Heat Wave</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff1dce</string>
			<key>name</key>
			<string>Hot Magenta</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#319177</string>
			<key>name</key>
			<string>Illuminating Emerald</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#b2ec5d</string>
			<key>name</key>
			<string>Inchworm</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#5d76cb</string>
			<key>name</key>
			<string>Indigo</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#469A84</string>
			<key>name</key>
			<string>Jade</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#D05340</string>
			<key>name</key>
			<string>Jasper</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ca3767</string>
			<key>name</key>
			<string>Jazzberry Jam</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#da614e</string>
			<key>name</key>
			<string>Jelly Bean</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#3bb08f</string>
			<key>name</key>
			<string>Jungle Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#e8f48c</string>
			<key>name</key>
			<string>Key Lime Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#436CB9</string>
			<key>name</key>
			<string>Lapis Lazuli</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fefe22</string>
			<key>name</key>
			<string>Laser Lemon</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fcb4d5</string>
			<key>name</key>
			<string>Lavender</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#253529</string>
			<key>name</key>
			<string>Leather Jacket</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffff38</string>
			<key>name</key>
			<string>Lemon</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fdff00</string>
			<key>name</key>
			<string>Lemon Glacier</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fff44f</string>
			<key>name</key>
			<string>Lemon Yellow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1a1110</string>
			<key>name</key>
			<string>Licorice</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#db91ef</string>
			<key>name</key>
			<string>Lilac</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ae98aa</string>
			<key>name</key>
			<string>Lilac Luster</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#b2f302</string>
			<key>name</key>
			<string>Lime</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffe4cd</string>
			<key>name</key>
			<string>Lumber</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffbd88</string>
			<key>name</key>
			<string>Macaroni Cheese</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f664af</string>
			<key>name</key>
			<string>Magenta</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#aaf0d1</string>
			<key>name</key>
			<string>Magic Mint</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f46</string>
			<key>name</key>
			<string>Magic Potion</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#cd4a4c</string>
			<key>name</key>
			<string>Mahogany</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#edd19c</string>
			<key>name</key>
			<string>Maize</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#469496</string>
			<key>name</key>
			<string>Malachite</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#979aaa</string>
			<key>name</key>
			<string>Manatee</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f37a48</string>
			<key>name</key>
			<string>Mandarin Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff8243</string>
			<key>name</key>
			<string>Mango Tango</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c8385a</string>
			<key>name</key>
			<string>Maroon</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ef98aa</string>
			<key>name</key>
			<string>Mauvelous</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fdbcb4</string>
			<key>name</key>
			<string>Melon</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#0a7e8c</string>
			<key>name</key>
			<string>Metallic Seaweed</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9c7c38</string>
			<key>name</key>
			<string>Metallic Sunburst</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1a4876</string>
			<key>name</key>
			<string>Midnight Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#702670</string>
			<key>name</key>
			<string>Midnight Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#bbb477</string>
			<key>name</key>
			<string>Misty Moss</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#3AA8C1</string>
			<key>name</key>
			<string>Moonstone</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#30ba8f</string>
			<key>name</key>
			<string>Mountain Meadow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c54b8c</string>
			<key>name</key>
			<string>Mulberry</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#828e84</string>
			<key>name</key>
			<string>Mummys Tomb</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ad4379</string>
			<key>name</key>
			<string>Mystic Maroon</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#d65282</string>
			<key>name</key>
			<string>Mystic Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1974d2</string>
			<key>name</key>
			<string>Navy Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffa343</string>
			<key>name</key>
			<string>Neon Carrot</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#214fc6</string>
			<key>name</key>
			<string>New Car</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#4f42b5</string>
			<key>name</key>
			<string>Ocean Blue Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#48bf91</string>
			<key>name</key>
			<string>Ocean Green Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fd5240</string>
			<key>name</key>
			<string>Ogre Odor</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#bab86c</string>
			<key>name</key>
			<string>Olive Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#353839</string>
			<key>name</key>
			<string>Onyx</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff7538</string>
			<key>name</key>
			<string>Orange</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff2b2b</string>
			<key>name</key>
			<string>Orange Red</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fa5b3d</string>
			<key>name</key>
			<string>Orange Soda</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f8d568</string>
			<key>name</key>
			<string>Orange Yellow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#e6a8d7</string>
			<key>name</key>
			<string>Orchid</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#7b4259</string>
			<key>name</key>
			<string>Orchid Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#414a4c</string>
			<key>name</key>
			<string>Outer Space</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff6e4a</string>
			<key>name</key>
			<string>Outrageous Orange</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1ca9c9</string>
			<key>name</key>
			<string>Pacific Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffcfab</string>
			<key>name</key>
			<string>Peach</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#b768a2</string>
			<key>name</key>
			<string>Pearly Purple</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ABAD48</string>
			<key>name</key>
			<string>Peridot</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c5d0e6</string>
			<key>name</key>
			<string>Periwinkle</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#8ba8b7</string>
			<key>name</key>
			<string>Pewter Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fddde6</string>
			<key>name</key>
			<string>Piggy Pink</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#45a27d</string>
			<key>name</key>
			<string>Pine</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#158078</string>
			<key>name</key>
			<string>Pine Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fc74fd</string>
			<key>name</key>
			<string>Pink Flamingo</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#B07080</string>
			<key>name</key>
			<string>Pink Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f78fa7</string>
			<key>name</key>
			<string>Pink Sherbert</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#391285</string>
			<key>name</key>
			<string>Pixie Powder</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#8e4585</string>
			<key>name</key>
			<string>Plum</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#5946b2</string>
			<key>name</key>
			<string>Plump Purple</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#5da493</string>
			<key>name</key>
			<string>Polished Pine</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff85cf</string>
			<key>name</key>
			<string>Princess Perfume</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#7442c8</string>
			<key>name</key>
			<string>Purple Heart</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9d81ba</string>
			<key>name</key>
			<string>Purple Mountains Majesty</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fe4eda</string>
			<key>name</key>
			<string>Purple Pizzazz</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9c51b6</string>
			<key>name</key>
			<string>Purple Plum</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a6a6a6</string>
			<key>name</key>
			<string>Quick Silver</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff496c</string>
			<key>name</key>
			<string>Radical Red</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#d68a59</string>
			<key>name</key>
			<string>Raw Sienna</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#714b23</string>
			<key>name</key>
			<string>Raw Umber</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff48d0</string>
			<key>name</key>
			<string>Razzle Dazzle Rose</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#e3256b</string>
			<key>name</key>
			<string>Razzmatazz</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#8d4e85</string>
			<key>name</key>
			<string>Razzmic Berry</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ee204d</string>
			<key>name</key>
			<string>Red</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff5349</string>
			<key>name</key>
			<string>Red Orange</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fd3a4a</string>
			<key>name</key>
			<string>Red Salsa</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c0448f</string>
			<key>name</key>
			<string>Red Violet</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#1fcecb</string>
			<key>name</key>
			<string>Robins Egg Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff5050</string>
			<key>name</key>
			<string>Rose</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9e5e6f</string>
			<key>name</key>
			<string>Rose Dust</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f03865</string>
			<key>name</key>
			<string>Rose Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#BD559C</string>
			<key>name</key>
			<string>Rose Quartz</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#7851a9</string>
			<key>name</key>
			<string>Royal Purple</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#AA4069</string>
			<key>name</key>
			<string>Ruby</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#da2c43</string>
			<key>name</key>
			<string>Rusty Red</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff9baa</string>
			<key>name</key>
			<string>Salmon</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f1444a</string>
			<key>name</key>
			<string>Salmon Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#2D5DA1</string>
			<key>name</key>
			<string>Sapphire</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff4681</string>
			<key>name</key>
			<string>Sasquatch Socks</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fc2847</string>
			<key>name</key>
			<string>Scarlet</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#76ff7a</string>
			<key>name</key>
			<string>Screamin Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#9fe2bf</string>
			<key>name</key>
			<string>Sea Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#4bc7cf</string>
			<key>name</key>
			<string>Sea Serpent</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a5694f</string>
			<key>name</key>
			<string>Sepia</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#8a795d</string>
			<key>name</key>
			<string>Shadow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#778ba5</string>
			<key>name</key>
			<string>Shadow Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffcff1</string>
			<key>name</key>
			<string>Shampoo</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#45cea2</string>
			<key>name</key>
			<string>Shamrock</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#8fd400</string>
			<key>name</key>
			<string>Sheen Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#d98695</string>
			<key>name</key>
			<string>Shimmering Blush</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#5fa778</string>
			<key>name</key>
			<string>Shiny Shamrock</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fb7efd</string>
			<key>name</key>
			<string>Shocking Pink</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#cdc5c2</string>
			<key>name</key>
			<string>Silver</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff3855</string>
			<key>name</key>
			<string>Sizzling Red</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffdb00</string>
			<key>name</key>
			<string>Sizzling Sunrise</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#80daeb</string>
			<key>name</key>
			<string>Sky Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#299617</string>
			<key>name</key>
			<string>Slimy Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff6d3a</string>
			<key>name</key>
			<string>Smashed Pumpkin</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#738276</string>
			<key>name</key>
			<string>Smoke</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#832A0D</string>
			<key>name</key>
			<string>Smokey Topaz</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#cec8ef</string>
			<key>name</key>
			<string>Soap</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#757575</string>
			<key>name</key>
			<string>Sonic Silver</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#87ff2a</string>
			<key>name</key>
			<string>Spring Frost</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#eceabe</string>
			<key>name</key>
			<string>Spring Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#0081ab</string>
			<key>name</key>
			<string>Steel Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#5f8a8b</string>
			<key>name</key>
			<string>Steel Teal</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fc5a8d</string>
			<key>name</key>
			<string>Strawberry</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#914e75</string>
			<key>name</key>
			<string>Sugar Plum</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff404c</string>
			<key>name</key>
			<string>Sunburnt Cyclops</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffcf48</string>
			<key>name</key>
			<string>Sunglow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f2f27a</string>
			<key>name</key>
			<string>Sunny Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fd5e53</string>
			<key>name</key>
			<string>Sunset Orange</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f1cc79</string>
			<key>name</key>
			<string>Sunset Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a83731</string>
			<key>name</key>
			<string>Sweet Brown</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#faa76c</string>
			<key>name</key>
			<string>Tan</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fb4d46</string>
			<key>name</key>
			<string>Tart Orange</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#18a7b5</string>
			<key>name</key>
			<string>Teal Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ebc7df</string>
			<key>name</key>
			<string>Thistle</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fc89ac</string>
			<key>name</key>
			<string>Tickle Me Pink</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#B56917</string>
			<key>name</key>
			<string>Tigers Eye</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#dbd7d2</string>
			<key>name</key>
			<string>Timberwolf</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#17806d</string>
			<key>name</key>
			<string>Tropical Rain Forest</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff878d</string>
			<key>name</key>
			<string>Tulip</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#deaa88</string>
			<key>name</key>
			<string>Tumbleweed</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#77dde7</string>
			<key>name</key>
			<string>Turquoise Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#3bbcd0</string>
			<key>name</key>
			<string>Turquoise Pearl</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#8a496b</string>
			<key>name</key>
			<string>Twilight Lavender</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff6</string>
			<key>name</key>
			<string>Unmellow Yellow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#324ab2</string>
			<key>name</key>
			<string>Violet Blue</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#926eae</string>
			<key>name</key>
			<string>Violet Purple</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#f75394</string>
			<key>name</key>
			<string>Violet Red</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffa089</string>
			<key>name</key>
			<string>Vivid Tangerine</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#8f509d</string>
			<key>name</key>
			<string>Vivid Violet</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#FFFFFF</string>
			<key>name</key>
			<string>White</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a2add0</string>
			<key>name</key>
			<string>Wild Blue Yonder</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff43a4</string>
			<key>name</key>
			<string>Wild Strawberry</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fc6c85</string>
			<key>name</key>
			<string>Wild Watermelon</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ff007c</string>
			<key>name</key>
			<string>Winter Sky</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#a0e6ff</string>
			<key>name</key>
			<string>Winter Wizard</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#56887d</string>
			<key>name</key>
			<string>Wintergreen Dream</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#cda4de</string>
			<key>name</key>
			<string>Wisteria</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fce883</string>
			<key>name</key>
			<string>Yellow</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#c5e384</string>
			<key>name</key>
			<string>Yellow Green</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#ffb653</string>
			<key>name</key>
			<string>Yellow Orange</string>
		</dict>
		<dict>
			<key>hash</key>
			<string>#fff700</string>
			<key>name</key>
			<string>Yellow Sunshine</string>
		</dict>
	</array>
</dict>
</plist>
