<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	
	<key>AppboyAPIKeys</key>
	<dict>
		<key>AU</key>
		<string>784e4c1e-3f7f-4d77-a1df-7806a049f05a</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.15.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.appboy.stopwatch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stopwatch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>NSAppTransportSecurity</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitter</string>
		<string>stopwatch</string>
		<string>fb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSExceptionDomains</key>
	<string/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow Stopwatch to access location information at all times and while in use.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow Stopwatch to access location information at all times.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Stopwatch to access location information while in use.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>branch_app_domain</key>
	<string>appboy.app.link</string>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_ieufKEuaPmEyPngVcbb8woferFmUriF3</string>
	</dict>
</dict>
</plist>
